body>div:not(.app-container), .task-info, .ui-pnotify-title {
	display: none;
}

a {
      font-weight: bolder;
      text-decoration: none;
      font-color: black;
}

a[href^=http]:after {
	content:" <" attr(href) "> ";
}

div.task-text p:before {
	content:"\2219\2003";
};