body {
  padding-top: 50px;
  color: #bbb;
}

h1, h2, h3, h4, h5, h6 {
  color: #bbb;
}

a {
  color: #61BDEB;
}

code, pre {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  color: white;
}

code.highlight {
  color: hsl(53, 89%, 79%);
}

code.line-number {
  width: 4em;
  display: block;
  float: left;
  color: hsl(14, 58%, 55%);
  text-align: right;
  padding-right: 1em;
}

blockquote p {
    font-style: italic;
    font-size: 14px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.brand img {
  margin-top: -10px;
  margin-bottom: -10px;
}

.form-group {
  margin-left: 1em;
}

.dropdown-menu a [class^="icomoon-"], .dropdown-menu a [class*=" icomoon-"] {
  width: 16px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  
}
.open > .dropdown-menu li a {
  color: #000;  
}
.dropdown-menu li a{
  color: #fff;
}
.dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;  
}
 
.navbar .nav > li > .dropdown-menu:after {
 
}
.dropup > .dropdown-menu:after {
  border-bottom: 0;
  border-top: 6px solid rgba(39, 45, 51, 0.9);
  top: auto;
  display: inline-block;
  bottom: -6px;
  content: '';
  position: absolute;
  left: 50%;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.table-nonfluid {
  width: auto;
}

.copy-btn {
  margin-left: 5px;
}

.ui-pnotify-icon span[class^=icon] {
  font-size: 1.4em;
}

.wrap {
  word-wrap: break-word;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
  min-height: 20px;
  margin-bottom: 20px;
}

.board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:  0;
  white-space: nowrap;
  /* width: 362 * num columns; */  
}

.list {
  /*background-color: #bbb;*/
  float: left;
  display: inline-block;
  white-space: normal;
}

.sort {
  float: right;
}

.cwd {
  font-size: 1em;
}

.content-nav li {
  padding-right: 5px;
}

.help-nav button {
  margin-left: 10px;
}

.list-name-container:hover {
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
}

.list-name-container {
  padding: .5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  word-break: break-word;
}

.list-name {
  font-size: 1.5em;
  margin: .5em;
  font-weight: bold;
}

.list-hide {
  color: #468847;
}

.list-show {
  color: #b94a48;
}

.plain-list {
  list-style-type: none;
}

.plain-list li a{
  text-decoration: none;
}

.app-container {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: auto;
}

.editor-container {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1;
}

#editor {
  height: 100%;
  font-size: 16px;
}

.edit-bar {
  display: none;
}

.edit-bar li {
  margin-left: 10px;
}

.board-bar form {
  padding-left: 5px;
}

.preview {
  min-height: 100%;
  font-size: 16px;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  overflow: hidden;
}

.preview-container {
  padding-top: 15px;
}

#search-field {
  border: none;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: black;
}

.search-results {
  min-height: 100%;
  font-size: 16px;
  background-color: #202020;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  overflow: hidden;
}

.search-results .pager {
  margin: 20px 0;
  text-align: center;
  list-style: none;
  position: fixed;
  margin-left: 80%;
  width: 200px;
}

.search-results pre {
  background-color: rgba(0,0,0,0);
}

.search-results a:hover, .search-results pre:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.preview .badge, .preview .label {
  box-shadow: none;
  text-shadow: none;
}

.task-label {
  margin-right: 10px;
  padding: 2px 4px 2px 4px;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.task:hover {
  opacity: .65;
  cursor: move;
}

.task.alert {
  padding: 19px;
}

.task.selected {
  background-color: #388D38;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
}

.task-select-all {
  font-size: 2em;
  margin-top: .3em;
}

.task-select-all i.icomoon-check-empty {
  margin-right: 4px;
}

.project-nav {
  display: none;
}

#help-nav {
  margin-left: 60px;
}

.board-bar {
  display: none;
}

.full-screen .modal-body {
  max-height: 800px;
}

.file-modal .modal-body {
  max-height: 400px;
  min-height: 400px;
}

.clean-btn {
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
}

.btn:focus {
  outline: none;
}

.column-nav-menu {
  top: 100%;
  padding: 4px 0 0;
  border: 0;
  margin-top: 6px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background: #eaeaea;
  -webkit-box-shadow: 0 3px 10px 0 rgba(17,17,17,0.35);
  -moz-box-shadow: 0 3px 10px 0 rgba(17,17,17,0.35);
  box-shadow: 0 3px 10px 0 rgba(17,17,17,0.35);
}

.column-nav-menu .column-nav-menu-item {
  border-top: 1px solid #ccc;
  counter-increment: column-nav;
  min-height:25px;
  min-width: 200px;
}

.column-nav-menu .column-nav-menu-item:first-child {
  border-top: 0;
}

.column-nav-menu .drag-handle {
  margin-left: 5px;
  margin-top: 1px;
  cursor: ns-resize;
}

.column-nav-menu .new-list span:first-child {
  margin-left: 5px;
  margin-top: 1px;
}

.column-nav-menu .column-nav-menu-item .column-nav-menu-link {
  padding: 5px 3px;
  min-height: 20px;
}

.obj-left {
  float: left;
  margin-right: 10px;
}

.obj-right {
  float: right;
  margin-left: 10px;
  margin-right: 5px;
}

/*pnotify*/
.stack-bottomright {
  top: auto;
  right: auto;
  word-wrap: break-word;
}

.alert-info a {
  color: #204B61;
}

.alert-info a:visited {
  color: #204B61;
}

.introjs-helperLayer {
  background-color: rgba(255,255,255,.4);
}

.introjs-tooltip {
  color: #666;
  font-weight: bold;  
}

.introjs-button {
  font-weight: bold;
}

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 10px;
    background: #fff;
}
::-webkit-scrollbar:hover {
    background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar:horizontal {
    height: 10px;
    overflow: visible;
    width: 16px;
    background: #fff;
}
::-webkit-scrollbar:horizontal:hover {
    background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-button {
    display: none;
    height:0;
    width: 0;
}
::-webkit-scrollbar-thumb {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    background-color: rgba(0,0,0,.2);
    /*border-width: 1px 1px 1px 6px;
    border: solid transparent;*/
    -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    min-height: 28px;
    padding: 100px 0 0;
}
::-webkit-scrollbar-thumb:hover {
    background-color:rgba(0,0,0,.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
}
::-webkit-scrollbar-thumb:active {
    background-color:rgba(0,0,0,0.5);
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.07);
    padding: 0 0 0 100px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
body::-webkit-scrollbar-track-piece {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    background-color: #f5f5f5;
    /*border-width: 0 0 0 3px;
    border: solid #fff;*/
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
}
body::-webkit-scrollbar-track-piece:horizontal {
    border-width:3px 0 0;
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.14), inset 0 -1px 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.14), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14), inset 0 -1px 0 rgba(0,0,0,.07);
}
body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px;
}
body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px;
}
body::-webkit-scrollbar-corner {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    background-color: #f5f5f5;
    border-width: 3px 0 0 3px;
    border: solid #fff;
    -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
}
